:root {
  --white: #ffffff;
  --navy: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --slate: #434455;
  --ocean: #404bbf;
}
body {
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  color: var(--slate);
  line-height: 1.5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-title,
.footer-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-span {
  color: var(--navy);
}
.header-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy);
}
.header-links:hover,
.header-links:focus {
  color: #404bbf;
}
.header-contacts {
  font-style: normal;
  color: var(--navy);
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--ocean);
}
.header-address {
  font-style: normal;
}
.portfolio-title {
}
.portfolio-text {
}
.portfolio-button {
  cursor: pointer;
  background-color: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--white);
  text-align: center;
}
.main-section {
  background-color: var(--navy);
}
.features-title,
.team-title {
}
.features-text,
.team-text {
}
.footer-container {
  background-color: var(--navy);
}
.footer-span {
  color: var(--cloud);
}
.copyright {
  color: var(--cloud);
  letter-spacing: 0.02em;
}
