:root {
  --white:#ffffff;
  --navy:#2e2f42;
  --iris:#4d5ae5;
  --slate:#434455;
}
body {
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  color: var(--slate)
  line-height: 1.5;
}
ul,
ol {
  list-style-type: none;
}
.header-title,
.footer-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-title > span, .footer-title>span {
  color: var(--navy)
}

.header-links {
  font-weight: 500;
  color: var(--navy);
  text-decoration:none;
}
.header-contacts {
  font-style: normal;
  color: var(--navy);
  text-decoration: none;
}
.portfolio-title {
}
.portfolio-text {
}
.header-title {
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--white);
  text-align: center;
}
.main-section {
  background-color: var(--navy);
}
.features-title,
.team-title {
}
.features-text,
.team-text {
}
